:root{
    --main-font:"Roboto", sans-serif;
    --secondary-font:"Raleway", sans-serif;
    --accent-color:#2196F3;
    --text-color:#000;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
text{
    color: #212121;
}
body {
    font-family:var(--main-font)
    
}

/* ===LOGOTYPE===*/
.logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
}
.logo-blue{
    color: var(--accent-color)
}
/* ===END LOGOTYPE===*/
/*===HEADER===*/
.menu-link{  
    Font style: Medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    Line height: 100%;
    Align: Left;
    color: #212121;
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}
.menu-link.current{
    color: var(--accent-color);
}
.mail-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
} 
.mail-link:hover,
.mail-link:focus{
    color: var(--accent-color);
}
.tel-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575; 
}
    .tel-link:hover,
    .tel-link:focus{
    color: var(--accent-color);
}
/*===END HEADER===*/
/*===HERO===*/
.hero{
    background: #2F303A;
    text-align: center;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

}
.modal-btn{
    font-weight: 700;;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #fff;
    background-color: var(--accent-color); 
}
.modal-btn{
    display: inline-block;
}
}

/*===AND HERO===*/
/*===ABOUT===*/
.about-main{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.about-main-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.working-moments{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}
/*===AND ABOUT===*/
/*===TEAM===*/
.team-our{
    background-color: #F5F4FA;
}
}
.team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.team-hiro{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.time-proff{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/*===AND TEAM===*/
/*===FOOTTER===*/
.footer{
    background-color: #2F303A;
}
.logo-foot{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.adresa{
    font-style: normal;
    font-weight: 400;       
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.adresa:hover,
.adresa:focus{
    color: #FFFFFF;
}
.contacts{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts:hover,
.contacts:focus{
    color: #ffffff;
}
/*===AND FOOTTER===*/


/*=====PORTFOLIO=====*/
.menu-link.current {
    color: #2196f3;
}
.btn-list{
    font-family:var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
}
.btn-list:hover,
.btn-list:focus{
    background-color:var(--accent-color);
    color:#ffffff;
}
.btn-list.current{
    background: var(--accent-color);
    color: #ffffff;
}
.production{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}
.production-zone{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}
/*=====AND PORTFOLIO=====*/